.moonbtn {
/* Button 2 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 32px;
gap: 10px;

position: relative;
width: 146px;
height: 48px;

border: 1px solid rgba(46, 46, 46, 0.85);
border-radius: 20px;


/* Buy now */

width: 82px;
height: 12px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;

color: #2E2E2E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
    

}